body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.bordered {
    border: 5px solid #000;
}
#menuButton {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border: #000 solid 1px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px
}
#menuArea {
    position: fixed;
    bottom: 60px;
    right: 5px;
    border: #000 solid 2px;
    padding: 0;
    margin: 0;
    width: 30px;
    background-color: #000:
    height: 90px;
}