body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.bordered {
    border: 5px solid #000000;
}
#menu {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border: red solid 2px;
}